name: Reusable PR Check
on:
    workflow_call:
        inputs:
            node-version:
                description: 'Node.js version'
                required: false
                type: string
                default: '22.x'

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            
            - uses: actions/setup-node@v4
              with:
                  node-version: ${{ inputs.node-version }}
                  registry-url: "https://registry.npmjs.org"
                  
            - name: Install node modules
              run: npm install

            - name: Run tests
              run: npm run test

            - name: Build application
              run: npm run build
